/* ghê thường */
.ghe{
    width: 38px;
    height: 35px;
    border-radius:  5px;
    cursor: pointer;
    margin: 15px;
    background-color:rgb(123,122,122) ;
    border: none;
    color: #fff;
  }

  /*  ghế đã đặt  */
  .gheDaDat{
    background-color: rgb(232, 76, 76);   
    cursor: no-drop;
  }
  .gheDangDat{
    background-color: rgb(18, 176, 18) !important;  
  }

  .gheVip{
    background-color: rgb(214, 142, 34);
  }
  /* ghế đã được đăt để css( do mình đặt ) */
  .gheDaDuocDat{
    background-color: rgb(236, 236, 236);
    -webkit-box-shadow: -1px 2px 18px -6px #000000; 
box-shadow: -1px 2px 18px -6px #000000;
color: orange !important;
border: 1px solid #000;
  }
  .gheKhachDat {
    background-color: rgb(242, 25, 191) !important;
    cursor: no-drop
    ;
  }